@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-marquee-right {
  animation: scroll 30s linear infinite;
}

.animate-marquee-right:hover {
  animation-play-state: paused;
}

.animate-marquee-left {
  animation: scroll-reverse 30s linear infinite;
}

.animate-marquee-left:hover {
  animation-play-state: paused;
}
